.rates {
  font-weight: bold;
  border-radius: 3px;
  padding: 2px 7px;
}

.allRates {
  display: flex;
  flex-direction: column;
}

.divSingleRate {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}